* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  .container {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 25px;
    padding: 32px 30px 32px 30px;
  }
  
  .title {
    border: 1px solid red;
    color: #2f69fe;
    background-image: url("https://intellsys-optimizer.b-cdn.net/interviews/978ea909-91ec-49c2-bd69-d494c097d38d/header.jpg");
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
  }
  
  .tasks {
    border: 1px solid red;
    margin-top: 30px;
  }
  
  .tasks-header {
    display: flex;
    justify-content: space-between;
  }
  
  .task-text {
    font-size: 20px;
    font-weight: 30px;
  }
  
  .tasks-lists-item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid;
  }
  .tasks-lists-item input {
    accent-color: #2f69fe;
  }
  .tasks-lists-item s {
    color: gray;
  }
  .addBtn {
    border: 1px solid red;
    text-align: center;
    margin-top: 30px;
  }
  .btn {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    background-color: #2f69fe;
    font-size: 20px;
    color: #ffffff;
    border: none;
  }
  